
/*ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}*/

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
}
.resp-tab-active::before {
    position:absolute;
	content:'';
	left: 13px;
	top: 17px;
	border-style: solid;
	border-width: 7.5px 8px 7.5px 0;
	border-color: transparent #0697bf transparent transparent;

}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 0px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #2560a2;
    border-top: 0px solid #ffffff;
    margin: 0px;
    padding: 10px 15px;
	background:#154b87;
	color:#ffffff;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	margin-bottom:0;
	padding-top: 25px;
    float: right;
    width: 20%;
	position: fixed;
	right: 0;
	top: 57px;
	bottom:0;
	/*height:92%;*/
	overflow-y:auto;
	overflow-x:hidden;
	background:#154b87 url(../../img/menu-bg.jpg) no-repeat center bottom;
	background-size:contain;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 12px 20px 12px 40px !important;
    margin: 0;
    cursor: pointer;
    float: none;
	line-height: 20px;
    font-size:16px;
    color:#ffffff;
	font-family: 'latolight';
}
.resp-vtabs .resp-tabs-list li:hover {
    color:#2ebee7;
}

.resp-vtabs .resp-tabs-list li:last-child {
    margin: 0 0 20px 0;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 80%;
    min-height: 250px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 12px 20px 12px 40px !important;
border:0 !important;
margin-bottom: 0px !important;
	background: -webkit-linear-gradient(2deg, #4C9555, #2ebee7 36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'latoregular';
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #ffffff;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #2ebee7;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #154b87;/* !important;*/
	border:0 !important;
	color:#2ebee7;
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #2560a2;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
		
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
