.back-link{
    margin:0;
    padding:15px 0 30px 37px;
    font-size:14px;
    color:@color-white !important;
    font-family: 'latosemibold';
    line-height:20px;
    position:relative; 
    display: inline-block;
    &:hover{
        color:#2ebee7 !important;
    }
    
    strong{
        font-size:18px;
    }
    i {
      border: solid #0b9ac2;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 8px;
      position:absolute;
      top: 30px;
    }
    .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    p{
        margin:0 0 0 26px;
        width: auto;
        display: inline-block;
    }
}
.resp-vtabs .resp-tab-content {
    padding: 0;
    overflow: hidden;
}

.body{
    background: url(../img/boards-report/boards-report-bg.jpg) no-repeat center right;
    background-size:cover;
    background-attachment: fixed;
}
.wrapper-reports {
	position: absolute;
	top: -50px;
	padding-top: 50px;
	
	width: 100%;
	@media(max-width:767px){
		top: 10px;
	}	
}

.wrapper-reports-content{
    .boards-report-bg{
        padding:0px 5% 60px 10%;
        @media(max-width:1366px){
            padding:60px 20px 60px 20px;
        }
        
        h5{
            color:@color-white;    
        }
    }
    .resp-tabs-list {
        padding:0 20px;
        @media(max-width:991px){
            position: static !important;
            display: block !important;
            width: 100% !important;
            
            li {
                padding: 8px 0px 8px 0px !important;
            }
        }
        
        a{
            color:@color-white;
            &:hover{
                color:#2ebee7;
            }
        }
    }
    
    .resp-vtabs .resp-tabs-container {
        background-color: transparent;
        @media(max-width:991px){
            min-height: auto;
            clear: both;
        }
        
    }
    .small-text{
        font-size:10px;    
        line-height: 13px;
        display: block;
    }
    
    .table{
        
        th{
         line-height:20px;
         text-align: right;
        span{
            font-size:12px;    
            line-height: 17px;
            display: block;
        }
        }
        th, td{
           
            font-size: 14px;
            line-height: 23px;
            @media(max-width:767px){
                padding: 2px 10px;
                font-size: 12px;
                line-height: 16px;
            }
            &:first-child{
                text-align:left;
            }
        }
        .bg-th1{
            background:#727272;
            color:@color-white;
        }
        .bg-th2{
            background:#606261;
            color:@color-white;
        }
        .bg-th3{
            background:#4b4b4d;
            color:@color-white;
        }
        .bg-blue{
            background:#e0f3fa;
        }
    }
}

.table td, .table th {
	padding: .50rem !important;
}

/*.changing-business-bg{
    
    img{
        margin:-115px 0 50px 0;
        width:100%;
    }
}*/

.banner-changing-bui-envirn {
	background:url(../img/banner/changing-business-environment.jpg) no-repeat top center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}
.banner-operational-excelnce {
	background:url(../img/banner/operational-excellence.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}
.banner-marketing-performance {
	background:url(../img/banner/marketing-performance.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}
.banner-asset-devlopment {
	background:url(../img/banner/asset-development.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}
.banner-safety-stewardess {
	background:url(../img/banner/safety-stewardess.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-technology {
	background:url(../img/banner/technology.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-financial-performance {
	background:url(../img/banner/financial-performance.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}
.banner-people {
	background:url(../img/banner/people.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-csr {
	background:url(../img/banner/csr.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-governance {
	background:url(../img/banner/governance.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-risk-management {
	background:url(../img/banner/risk-management.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-auditors {
	background:url(../img/banner/auditors.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}

.banner-disclosures {
	background:url(../img/banner/disclosures.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;	
	height: 530px;
	
	@media(max-width:1500px){
		height: 450px;
	}
	
	@media(max-width:767px){
		height: 350px;
	}
	
	@media(min-width:1530px){
		height: 435px;
	}
}



.boards-report-wrapper-banner{
    margin:0 0 15px 0;
    padding:0;
    position:relative;
    top: -32px;
    @media(max-width:767px){
        margin:0 0 -15px 0;
    }
    img{
        width:100%;
    }
    h1{
        position:absolute;
        top:40%;
        left:120px;
        color:@color-white;
        font-size: 35px;
        letter-spacing: 0;
        z-index: 1;
        @media(max-width:1500px){
    		left:90px;
        }
        @media(max-width:767px){
            font-size: 20px;
            left: 30px;
            top: 45%;
            
        }
    }
    
    p{
        position:absolute;
        top:60%;
        left:120px;
        color:@color-white;
        font-size: 18px;
        letter-spacing: 0;
        z-index: 999;
        @media(max-width:1500px){
    		left:90px;
        }
        @media(max-width:767px){
            font-size: 16px;
            left: 30px;
            top: 65%;
            
        }
    }
    
    .banner-btm-patch {
    	position: absolute;
    	right: 6.5%;
    	bottom: 0;
    	background:#004380;
    	color:#fff;
    	padding: 15px 20px;
    	width: 310px;
    }
    
    .anul-block-style{
    	position:absolute;
        bottom:25px;
        left:120px;
        top:inherit;
        right:inherit;
        @media(max-width:1500px){
    		left:90px;
        }
        @media(max-width:767px){
    		left:22px;
        }
        img{
        	width: auto;
        }
    }
}

.boards-first-wrapper{
	margin:0;
    padding:0;
    position:relative;
    top: 0;
    left: 8%;
    width: 90%;
    h2{
    	margin:0 0 20px 0;
    	color:#1c5e9e;
        font-size: 36px;
        font-family: 'latosemibold';
        line-height: 36px;
        
        @media(max-width:767px){
  
    		 width: 130px;
    		 margin-bottom: 40px;
        }
    }
    .table td, .table th {
	    border-top: 1px solid #8d9aa7;
	}
	.table thead th {
	    border-bottom: 2px solid #8d9aa7;
	}
	table td:nth-child(2), table thead th:nth-child(2) {
	    background: rgba(9, 33, 49, 0.4);
	}
}
.boards-report-wrapper{
    margin:0 0 30px 0;
    padding:0;
    position:relative;
    top: 0;
    left: 3.4%;
    width: 94%;
    /*font-size: 14px;
    line-height: 20px;*/
    @media(max-width:1500px){
		left: 4%;
		width: 93%;
    }
    hr{
    	margin-bottom: 40px;
    	margin-top: 35px;
    	@media(max-width:767px){
			margin-bottom: 30px;
	    }
    }
    .btn-more {
	    margin: 0 0;
	    padding: 3px 12px;
	    font-size: 13px;
	    border-radius: 5px;
	    float: left;
	    border: 1px solid #1c5e9e !important;
	    color: #1c5e9e;
	    @media(max-width:767px){
			margin: 0 0 26px 0;
	    }
	}
	.btn-more:hover {
	    color: #ffffff;
	    background: #1c5e9e;
	}
    
    @media(max-width:768px){
        overflow: hidden;
        padding: 15px;
        left: 0;
    	width: 100%;
    }
    
    .bg-blue-text {
		background: #1c5e9f;
		color:#fff;
	}
	.bg-gray-text {
		background: #f6f6f6;
		color:#1c5e9f;
	}
    h1{
        margin: 0px 0 20px 0;
        color:#1a59a8;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 26px;
    }
    
    h2{
        margin: 20px 0 60px 0;
        color:#1a59a8;
        letter-spacing: 0;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 38px;
        font-weight: 600;
    }
    h3{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
        color: #20589e;
        font-weight: 600;
    }
    
    h4{
        margin: 20px 0 12px 0;
        color:#123e6b;
        letter-spacing: 0;
        font-size: 22px;
    }
    h5{
        font-size: 20px !important;
        line-height: 26px;
        margin-bottom: 15px;
        color: #20589e;
        font-weight: 400;
    }
    
    .boards-heading-row {
    margin-top: 2rem;
	margin-bottom: 3rem;
	border: 0;
	border-top: 1px solid #e4e4e4;
    }
    
    .hblue-lines {
    	width: 95px;
    	background:#20589e;
    	height: 3px;
    	margin-top: -3px;
    }
    
    .numric-icon-head {
    	font-family: 'latobold';
		margin:0 0 10px 0;
		font-size: 16px;
		line-height: 20px;
		color: #1c5e9f;
		text-align: center;
    }
    .numric-head {
		font-family: 'latobold';
		font-weight: bold;
		margin:0 0 10px 0;
		font-size: 18px;
		line-height: 20px;
		color: #1c5e9f;
	}
	.min-two-lines {
		min-height:40px;
	}
	.numric-text {
		font-size: 14px;
		line-height: 16px;
		min-height: 83px;
		margin:0;
		padding: 0;
		color: #1c5e9f;
		
		strong {
			font-weight: 400 !important;
			font-size: 15px;
			line-height: 16px;
		}
	}


	.border-left:after {
		content: '.';
		margin-left: -21px;
		font-size: 53px;
		line-height: 1px;
		color: #1c5e9f;
		
	}
	
    
    .report-operational-excellence-bg {
    	
    	color: #2966a3;
    	padding: 30px 25px;
    	
    	
    }
    
    .heading-reverse {
    	background:#1c5e9e;
    	color:#fff;
    	padding: 15px 25px;
    }
    
    .tlightgray-bg {
    	background: #f6f6f6;
    	padding: 20px 25px;
    	
    	
    }
    
    .darkgray-bg {
    	background: #eeeeee;
    	padding: 20px 25px;
    	
    	
    }
    
    
    
}

.gov-managerial-person {
	border-top:1px solid #e7e7e7;
	
	h5 {
		font-size: 17px !important;
		line-height: 20px;
		min-height: 40px;
		padding-top: 20px;
	}
	p {
		font-size: 13px;
		line-height: 16px;
		color:#939393;
	}
}

.full-row-bg {
	background:#f7f7f7; 
	padding:30px 50px;
}
.full-row-topbrd {
	border-top:3px solid #165ca1; 
	width:90px; 
	margin-top:-30px; 
	padding-top:30px 
}


.annual-boards-report-head {
	position:absolute; width:85px; left:0; top: 46%; padding:0px; 
	font-size: 18px;
	line-height: 20px;
	color: #b5b5b5;
	z-index: 99;
	img {
		margin-bottom: 5px;
	}
	
	@media(max-width:991px){
	    position:relative;
	    width: 100%;
	    
	    	img {
			float: left; padding: 15px;
			width: 30%;
		}
	}
	@media(max-width:767px){
		display: none;
	}	
}
.main-page-dot{
	top: 30%;
}
.p-breports {
	padding: 150px 0 50px 0;
	
	@media(max-width:991px){
		padding: 10px 15px;
	}	
}
.breport-highlights {
	background:#042472 url(../img/bg-boards-report.jpg) center top no-repeat; height: 700px; padding-left: 25px; padding-right: 25px;
	background-size:cover; position:absolute; top:0; bottom:0; left: 0; right: 0; width: 100%; color:red; font-size: 14px;
	
	
	.in-million {
		margin-top: 48px;
		text-align: right;
	}
	
	.table td, .table th {
		border-top: 1px solid rgba(22, 111, 196, 0.6);
	}	
	.table thead th {
	    vertical-align: bottom;
	    border-bottom: 0;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 400;
	}
	.highlighted {
		background: rgba(23, 74, 136, 0.4);
	}
	
	@media(min-width:1500px){
		height:100vh;
		position:relative;
		right: -6%
	}	
	@media(max-width:768px){
		right:0%;
		height:100%;
		position:relative;
	}
}

.achieved-bg{
    margin:0 0 30px 0;
    padding:0;
    width:100%;
    background:#e0f1eb;
     font-family: 'latomedium';
    font-size:20px;
    color:#687170;
    float: left;
    
    @media(max-width:1100px){
        font-size:15px;
        line-height: 20px;
    }
    
    img{
        float: left;
        @media(max-width:580px){
            width: 76px;
            padding: 10px 0 0 10px;
        }
    }
    p{
        float: left;
        width: 75%;
        padding: 22px 10px 0 20px;
        @media(max-width:1100px){
            width: 65%;
        }
        @media(max-width:580px){
            padding: 10px 10px 0 20px;
        }
    }
    p.head{
        float: left;
        width: auto;
        padding: 22px 10px 0 20px;
        color:#1f56a1;
    }
    p.head-content{
        float: left;
        width: 74%;
        font-size: 16px;
        padding: 22px 10px 0 20px;
        @media(max-width:1100px){
            width: 65%;
        }
        @media(max-width:767px){
            padding: 0px 10px 0 20px;
        }
        @media(max-width:580px){
            padding: 10px 0px 0 10px;
            width:100%;
        }
    }
}
.marketing-performance-bg{
    margin:0;
    padding:0;
    width:100%;
    position:relative;
    bottom:0;
    right: 0;
    left: 0;
    background: url(../img/boards-report/marketing-performance-bg.png) no-repeat center bottom;
    background-size:contain;
    height: 100%;
    text-align:center;
    
    @media(max-width:1500px){
        padding: 0 20px 0 20px;
    }
    @media(max-width:767px){
        position:static;
        padding:20px;
    }
    .img-bg{
        position: absolute;
        bottom: 6%;
        left: 8%;  
        right: 12%;
        @media(max-width:1500px){
            bottom: 15%;
            left: 20px;
            right: 30px;
        }
        @media(max-width:1100px){
            position: static;
            padding:30px;
        }
        @media(max-width:767px){
            padding:0px;
        }
    }
}
.mptext{
    padding:0 20px 20px 50px;
    @media(max-width:1500px){
        padding:0 20px 20px 30px;
    }
}
.safety-first-bg{
    margin:0px 0 0px;
    padding:0;
    height:100%;
    background: url(../img/boards-report/safety-first-bg.jpg) no-repeat center;
    background-size:cover;
    text-align:left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    
    
    @media(max-width:1100px){
        margin-top:30px;
        min-height: 600px;
        position:static;
    }
    /*.safety-first-content{
        margin:0;
        padding:30px;
        width:100%;
        background: rgba(255,255,255,0.92);
        @media(max-width:580px){
            padding:15px;
        }
    }*/
}

.board-report-internal {
	
	img {
		margin-bottom: 20px;
	}
	ul {
		margin: 0 0 30px 20px;
		padding: 0;
	}
	li {
		margin-bottom: 10px;
		list-style-type:square;
	}
}

.sus-dev-inner {
    margin: 20px 0 40px 0;
    @media(max-width:767px){
        margin: 20px 0 0px 0;
    }
    img{
        margin:0;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 0.8;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
    }
    h4{
        margin: 0;
        padding: 10px 15px;
        background: #003370;
        color: #fff;
        font-size: 18px;
        
    }
    .sus-dev-link{
        
        &:hover{
            img{
                margin:0;
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
                opacity: 1;
            }
            h4{
                color: #2ebee7;    
            }
        }
    }
}
.awards-bg{
    margin:0 0 20px 0;
    padding:8% 10% 1% 10%;
    width:100%;
    background:#00b1cf;
    color:@color-white;
    font-family: 'latoregular';
    height:100%;
    
    @media(max-width:1100px){
        padding:20px;
        height:auto;
    }
    img{
        height: 100px;
        margin-bottom: 20px;
    }
    span{
        margin-bottom:30px;
        font-family: 'latolight';
        font-size:50px;
        display:block;
    }
}

/*@media(max-width:1500px){
    .resp-vtabs .resp-tabs-list li {
        padding: 10px 20px 10px 0px !important;
        line-height: 18px;
        font-size: 15px;
    }
    .resp-tab-active::before {
        left: -24px;
    }
    .back-link {
        padding: 15px 0 30px 0px;
    }
}*/
@media(max-width:767px){
    .resp-vtabs .resp-tabs-list li {
        padding: 8px 20px 8px 0px !important;
        line-height: 16px;
        font-size: 14px;
    }
}

.btn-highlights{
    margin: 12px 0 0;
    padding: 7px 20px;
    width: auto;
    display: inline-block;
    position: relative;
    color: #17bbb4;
    font-family: 'latosemibold';
    font-size: 17px;
    background: #ffffff;
    border-radius: 5px;
    float: left;
    border: 2px solid #1bb2bd !important;
    cursor: pointer;
    
    &:hover{
        color:#0056b3;
    }
    
}
#exampleModalCenter{
    .modal-content {
        background-color: #19b5d1;
        color:#ffffff;
    }
    .modal-body {
        padding: 0 20px;
        overflow: hidden;
        @media(max-width:767px){
            padding: 0 10px;
        }
    }
    .modal-header {
        padding: 15px 20px 0 20px;
        border-bottom: 0;
    }
    .modal-header .close {
        margin-right: -12px;
        background: transparent;
        border-radius: 0;
        width: 20px;
        height: 27px;
        line-height: 20px;
        padding: 8px 0 0 0;
        position: relative;
        z-index: 99;
    }
    .modal-dialog {
        max-width: 700px;
        @media(max-width:767px){
            margin-top:80px;
        }
    }
}

#livelihoodModal, #educationModal, #healthModal{
    .modal-dialog {
        max-width: 700px;
        @media(max-width:767px){
            margin-top:80px;
        }
    }
    .modal-body {
        padding: 20px 20px 0 20px;
    }
    .modal-header .close {
        margin-right: 0;
        height: 27px;
    }
    .modal-header {
        color: #003370;
    }
    
}

.boards-content-scroll {
	width:80%; margin-top:60px; margin-bottom:25px; float:left; /*height: 73vh; overflow-y: auto;*/
	@media(max-width:991px){
        width:100%;
        height:auto;
    }
}
.boards-content-table { 
	padding: 80px 50px 0 50px;
    width:60%;
	position:fixed;
    height:100%;
	right: 0;
    left:inherit;
	top: 0;
	bottom:0;
	background:#3e4b5b url(../img/bg-boards-report.jpg) no-repeat center bottom;
	color:#fff;
	@media(max-width:991px){
		width:111%;
		top: 20px;
		left: -30px;
		position:relative;
		padding: 30px 20px 0 20px;
	}	
}	


.with-dot-brd {
	width: 100%;
	background:url(../img/brd-dot-top.png) top center no-repeat;
	background-size: contain;
	height: 7px;
	position: relative;
	z-index: 2;
	
}
.safety-half-circle {
	text-align: center;
	margin-top: -4px;
}
.vbrd {
	width: 1px;
	background:#ccc;
	margin:0 auto;
	height: 30px;
}
.safety-icons-area {
	background:#f8f8f8;
	padding: 20px;
	text-align: center;
	
	h6 {
		color:#1c5e9e;
		margin:20px 0;
	}
}

.dir-minus-30 {
	margin-top:-30px;
	@media(max-width:991px){
		margin-top:0px;
	}
}
.dir-minus-70 {
	margin-top:-70px;
	@media(max-width:991px){
		margin-top:0px;
		
		.float-right {
			float: none !important;
		}
	}
	
}