.chairman-banner-bg-dot {
	background:url(../img/chairman-banner-bg-dot.png) 0 0 no-repeat;
	position: absolute;
	height: 100%;
	
	top: 0;
	width: 100%;
	z-index:1;
	display: none
}
.wrapper-chairmans-banner{
    margin:0;
    padding:80px 0 0 10px;
    width:90%;
    left:5%;
    background:#fff;
    position:relative;
    min-height:auto;
    
    @media(max-width:1100px){
	    padding:70px 15px 0 15px;
	}
	@media(max-width:767px){
	    padding:70px 15px 50px 15px;
	}
    
    .chairman-banner-bg {
    	background:url(../img/chairman-bg.png) bottom right no-repeat;
    	
    	@media(max-width:991px){
		    background:none;
		}
    }
    
    .tony-fountain-bg{
        margin:0;
        padding:0;
        width:auto;
        /*position: relative;
        right:-40%;
        bottom:0;*/
        z-index: 1;
        /*@media(max-width:1500px){
    	    right:-47%;
    	}
    	@media(max-width:1100px){
    	    right:-29%;
    	}
    	@media(max-width:767px){
    	    right:0;
    	}
    	@media(max-width:580px){
    	    right: 20px;
            bottom: 0px;
            position: absolute;
            width: 70%;
    	}
    	@media(max-width:430px){
    	    width: 100%;
    	}*/
    	
    }
    
    
    .chairmans-content-left{
        position: absolute;
        width: 90%;
        color: #e0e7f2;
        bottom: 100px;
        left: 9%;
        line-height: 22px;
        @media(max-width:1500px){
    	    width: 83%;
    	    line-height: 22px;
    	    left: 11%;
    	    bottom: 106px;
    	}
    	@media(max-width:1100px){
    	    left: 14%;
    	}
    	@media(max-width:991px){
    	    width: 88%;
    	    line-height: 20px;
    	    font-size:14px;
    	    bottom: 95px;
    	}
    	@media(max-width:767px){
    	    display:none;
    	}
    }
    .ceo-head {
        margin: -26px 0 0 0;
        font-size: 152px;
        line-height: 140px;
        right: 22%;
        @media(max-width:1500px){
    	    font-size:147px;
    	    right: 12%;
    	}
    	@media(max-width:1300px){
    	    right: 20px;
    	}
    	@media(max-width:1100px){
    	    left: 14%;
    	}
    	@media(max-width:1300px){
    	    margin: 0;
            font-size: 113px;
            line-height: 114px;
    	}
    	@media(max-width:991px){
    	    font-size:65px;
    	    line-height: 65px;
    	    text-align: left;
            left: 14%;
    	}
    	@media(max-width:580px){
    	    font-size:34px;
    	    line-height: 34px;
    	    position: static;
            margin-bottom:20px;
            margin-left:15px;
    	}
    }
    h3{
        margin:0;
        padding:0;
        width:auto;
        position: absolute;
        left:-60px;
        bottom:10px;
        z-index: 1;
        color:#2a2a2a;
        text-transform: uppercase;
        line-height: 21px;
        
        font-weight: 600;
        
    	
        span{
            font-size:13px;
            color:#569c84;
            
        }
        
        	@media(max-width:991px){
        		position:relative;
		        left:2%;
		        padding: 20px 0;
        	}
    }
    
}
.annual-boards-chairman-head {
	position:absolute; width:99px; left:0; top: 35%; padding:15px; 
	font-size: 18px;
	line-height: 20px;
	color: #b5b5b5;
	img {
		margin-bottom: 60px;
	}
	
	@media(max-width:991px){
	    position:relative;
	    width: 100%;
	    
	    	img {
			float: left; padding: 15px;
			width: 30%;
		}
	}
}
.wrapper-chairmans-content{
    margin:0;
    background:#f7f7f7;
    
    padding:30px 0px 40px 10px;
    padding-left: 6%;
    @media(max-width:767px){
	    padding:30px 10px;
	}
	
	
	
	.banner-brd {
		width: 100%;
		background:url(../img/brd-dot-top.png) top center no-repeat;
		background-size: contain;
		height: 7px;
		position: relative;
		z-index: 2;
		top: -34px;
		display:none;
	}
	
	h3 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        color: #20589e;
    }
	
    
    h4{
        margin-top:40px;
    }
    
    
}










