@color-black:#888d91;
@color-white:#ffffff;
@color-gray:#727272;
@color-blue:#012138;
@color-light-blue:#2086ac;
@color-blue02:#1f59aa;

.grn {
	background:#089c50 !important;
}
.blu {
	background:#1f59a9 !important;
}