@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
 html {
	 line-height: 1.15;
	 -ms-text-size-adjust: 100%;
	 -webkit-text-size-adjust: 100%;
}
 body {
	 margin: 0;
}
 article, aside, footer, header, nav, section {
	 display: block;
}



 body {
	
	 -webkit-text-size-adjust: 100%;
	 -webkit-font-smoothing: antialiased;
	 box-sizing: border-box;
	
}

 header .header-wrap {
	 -webkit-transition: all 1s ease 0.5s;
	 -moz-transition: all 1s ease 0.5s;
	 -o-transition: all 1s ease 0.5s;
	 -ms-transition: all 1s ease 0.5s;
	 transition: all 1s ease 0.5s;
	 width: 100%;
	 position: fixed;
	 top: 0;
	 z-index: 10;
}
 header .header-wrap.hide {
	 opacity: 0;
	 -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	 -o-transition: all 0.5s ease;
	 -ms-transition: all 0.5s ease;
	 transition: all 0.5s ease;
	 pointer-events: none;
}
 header .header-wrap.menu_show {
	 opacity: 0;
	 -webkit-transition: all 0.7s ease 0.2s;
	 -moz-transition: all 0.7s ease 0.2s;
	 -o-transition: all 0.7s ease 0.2s;
	 -ms-transition: all 0.7s ease 0.2s;
	 transition: all 0.7s ease 0.2s;
}

 header .logo .logo-wrap {
	 width: 110px;
	 height: 33px;
	 overflow: hidden;
	 margin-left: -10px;
}
.nav-menu {
	 position: fixed;
	 right: 2%;
	 z-index: 999999;
	 top: 50%;
	 margin-top: -30px;
	 cursor: pointer;
	 height: 60px;
	 width: 58px;
	 padding: 0px;
	 -webkit-transition: all 0.2s ease;
	 -moz-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 -ms-transition: all 0.2s ease;
	 transition: all 0.2s ease;
	/* mix-blend-mode: difference;*/
}


 @media screen and (max-width: 500px) {
	 .nav-menu {
		 top: 5px;
		 margin-top: 0;
		 -webkit-transform: rotate(90deg);
		 -moz-transform: rotate(90deg);
		 -ms-transform: rotate(90deg);
		 -o-transform: rotate(90deg);
		 transform: rotate(90deg);
		 
	}
}
 .nav-menu span.text {
	 text-transform: uppercase;
	 font-size: 10px;
	 letter-spacing: 2px;
	 display: block;
	 opacity: 0;
	 color:#42bff7;
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-transform: rotate(-90deg) translateX(-40px);
	 -moz-transform: rotate(-90deg) translateX(-40px);
	 -ms-transform: rotate(-90deg) translateX(-40px);
	 -o-transform: rotate(-90deg) translateX(-40px);
	 transform: rotate(-90deg) translateX(-40px);
	 
}
 .nav-menu span.line {
	 width: 2px;
	 height: 30px;
	 background: #42bff7;
	 display: block;
	 position: absolute;
	 top: 20px;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
}
 .nav-menu span.line:nth-child(1) {
	 left: 20px;
}
 .nav-menu span.line:nth-child(2) {
	 left: 28px;
}
 .nav-menu span.line:nth-child(3) {
	 left: 36px;
}
 .nav-menu:hover span.text {
	 -webkit-transform: rotate(-90deg) translateX(-60px);
	 -moz-transform: rotate(-90deg) translateX(-60px);
	 -ms-transform: rotate(-90deg) translateX(-60px);
	 -o-transform: rotate(-90deg) translateX(-60px);
	 transform: rotate(-90deg) translateX(-60px);
	 opacity: 1;
}
 .nav-menu:hover span.line {
	 -webkit-transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -o-transform: translateY(-50%);
	 transform: translateY(-50%);
}
 .nav-menu:hover span.line:nth-child(1) {
	 height: 0;
}
 .nav-menu:hover span.line:nth-child(3) {
	 height: 0;
}
 .nav-menu:hover span.line:nth-child(2) {
	 height: 50px;
}
 .nav-menu.close {
	 right: 3%;
}
 .nav-menu.close span.line:nth-child(1) {
	 transition-delay: 0.5s;
	 width: 0;
	 height: 1px;
	 -webkit-transform: translateX(-20%);
	 -moz-transform: translateX(-20%);
	 -ms-transform: translateX(-20%);
	 -o-transform: translateX(-20%);
	 transform: translateX(-20%);
	 -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	 -moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	 -o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	 -ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	 transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
 .nav-menu.close span.line:nth-child(1):hover {
	 height: 1px;
	 -webkit-transform: translateY(0);
	 -moz-transform: translateY(0);
	 -ms-transform: translateY(0);
	 -o-transform: translateY(0);
	 transform: translateY(0);
}
 @media screen and (max-width: 500px) {
	 .nav-menu.close {
		 -webkit-transform: rotate(0);
		 -moz-transform: rotate(0);
		 -ms-transform: rotate(0);
		 -o-transform: rotate(0);
		 transform: rotate(0);
		 right: 2%;
		 top:3%;
	}
}
 .menu.active .nav-menu.close span.line {
	 width: 50px;
	 -webkit-transform: translateX(0);
	 -moz-transform: translateX(0);
	 -ms-transform: translateX(0);
	 -o-transform: translateX(0);
	 transform: translateX(0);
}
 .menu, .menu-cover, .menu-overlay {
	 position: fixed;
	 z-index: 9999;
	 width: 100%;
	 height: 100%;
	 width: 100vw;
	 height: 100vh;
	 top: 0;
	 left: 0;
}
 .menu-overlay {
	 opacity: 0;
	 background: #000;
	 pointer-events: none;
	 mix-blend-mode: hue;
}
 .menu-cover {
	 opacity: 0;
	 background: rgba(0, 0, 0, .8);
	 pointer-events: none;
	 background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .5) 0, #000 100%);
	 background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .5) 0, #000 100%);
	 background: radial-gradient(ellipse at center, rgba(0, 0, 0, .5) 0, #000 100%);
}
 .menu {
	 pointer-events: none;
	 opacity: 1;
	 white-space: normal;
	background: rgba(13, 26, 50, .7);
	 opacity: 0;
}
 .menu .menu_content {
	 display: flex;
}
 .menu.active {
	 pointer-events: auto;
}
 .menu .mid_line {
	 position: absolute;
	 left: 55%;
	 top: 0;
	 width: 1px;
	 height: 0;
	 background: rgba(255, 255, 255, .3);
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 transition-delay: 0.5s;
}
 @media screen and (max-width: 768px) {
	 .menu .mid_line {
		 display: none;
	}
}
 .menu.active .mid_line {
	 background: rgba(255, 255, 255, .1);
	 height: 100%;
	 transition-delay: 1s;
	 width: 1px;
}






.floating-form {
    position: fixed;
    right: 4px;
    background: #004380;
    color:#fff;
	top:0%;
	
    transform: translate(100%, 0%);
    -webkit-transform: translate(100, 0%);
    -ms-transform: translate(100, 0%);
    transition: all 0.7s ease;
    width: 300px;
    padding: 10px;
    z-index: 9;
    /*box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
}

.floating-form .nav-menu {
	 position: fixed;
	 right: 100%;
	 z-index: 9;
	 top: 50%;
	 margin-top: -30px;
	 
}

.floating-form.active {
    position: fixed;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transition: all 0.7s ease;
	top:0;
	
}

 @media screen and (max-width: 991px) {
	 .floating-form.active {
		
		top:6%;
		
	}
	
	.floating-form {
		top:6%;
	}
}

.form-toggle {
    position: absolute;
    left: -111px;
    background: #004380;
    color: #ffffff;
    font-weight: 700;
    padding: 13px 26px;
    /*width: 177px;*/
    text-align: center;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    cursor: pointer;
    top: 68px;
    letter-spacing: 1px;
}

	
.floating-form ul {
	margin:0;
	padding:5px 10px;
}
.floating-form ul li {
	list-style: none;
	padding: 5px 5px;
	font-size: 1em;
	font-weight: normal;
	clear:both;
	border-bottom:1px solid #005aab;
	color:#1f94ff;
}
.floating-form ul li a{
	color:#1f94ff;
}
.floating-form ul li a:hover{
	color:#fff;
}
.floating-form ul li a.active{
	color:#fff;
}

.floating-form ul li:first-child {
	padding-top: 1em;
}
.floating-form ul li:last-child {
	padding-bottom: 1em;
	border:0;
}


/* Shore more styles */
	.custom-css{
		margin:0;
	}
	.showmore_content {
		position: relative;
		overflow: hidden;
		
	}
	
.showmore_trigger {
	line-height: 30px;
	cursor: pointer;
	border: 1px solid #1c5e9e;
	display: inline-block;
	width: 100px;

	height: auto;
	margin-top: 15px;
	font-size: 13px;
	text-decoration: none;
	opacity:0.8;
	text-align:center;
	border-radius: 5px;
	 color: #1c5e9e;
}
.showmore_trigger :hover {
	color: #ffffff;
	background: #1c5e9e;

}

.showmore_trigger span {
display: block;

}
.show-more-btm {
	margin-top:4rem;
}

.btn-more {
	margin: 0 0;
	padding: 3px 12px;
	font-size: 13px;
	border-radius: 5px;
	float: left;
	border: 1px solid #1c5e9e !important;
	color: #1c5e9e;
	
}
.btn-more:hover {
	color: #ffffff;
	background: #1c5e9e;
}






