<!--
    Rewrites requires Microsoft URL Rewrite Module for IIS
    Download: https://www.microsoft.com/en-us/download/details.aspx?id=47337
    Debug Help: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-failed-request-tracing-to-trace-rewrite-rules
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	    <rule name="RedirectNonWwwToWww" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions>
			<add input="{HTTP_HOST}" pattern="^nayaraenergy.com/$" />
		  </conditions>
		  <action type="Redirect" url="https://www.nayaraenergy.com/{R:0}" redirectType="Permanent" />
		</rule>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
	<rewrite>    
		<outboundRules rewriteBeforeCache="true">
			<rule name="Remove Server header">
			  <match serverVariable="RESPONSE_Server" pattern=".+" />
			  <action type="Rewrite" value="" />
			</rule>
		</outboundRules>
	</rewrite>
	<httpProtocol>
		<customHeaders>
			<add name="Strict-Transport-Security" value="max-age=31536000;includeSubdomains" />
			<add name="X-Frame-Options" value="SAMEORIGIN" />
			<add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
			<add name="Pragma" value="no-cache" />
			<add name="Expires" value="0" />
			<add name="X-XSS-Protection" value="1; mode=block" />
			<add name="X-Content-Type-Options" value="nosniff" />
			<remove name="X-Powered-By" />
		</customHeaders>
	</httpProtocol>
	<staticContent>
		<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	</staticContent>
  </system.webServer>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>
</configuration>
