<!--
    Rewrites requires Microsoft URL Rewrite Module for IIS
    Download: https://www.microsoft.com/en-us/download/details.aspx?id=47337
    Debug Help: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-failed-request-tracing-to-trace-rewrite-rules
-->
<configuration>
	<system.webServer>
		<rewrite>		
			<rules>
                <clear />
                <rule name="apply-online-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="apply-online" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/apply-online" />
                </rule>
                <rule name="refinery-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="refinery" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/vadinar-refinery" />
                </rule>
                <rule name="supply-and-distribution-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="supply-and-distribution" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/petroleum-supply-and-distribution" />
                </rule>
                <rule name="franchisees-expectation-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/franchisees-expectation" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-dealership-expectation" />
                </rule>
                <rule name="retail-partnership-requirements-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/partnership-requirements" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-dealership-requirements" />
                </rule>
                <rule name="retail-franchisees-profit-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/franchisees-profit" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-dealership-profit" />
                </rule>
                <rule name="retail-franchisees-eligibility-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/franchisees-eligibility" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="retail/petrol-pump-dealership-eligibility" />
                </rule>
                <rule name="retail-steps-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/steps" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/how-to-get-petrol-pump-dealership" />
                </rule>
                <rule name="retail-faqs-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/faqs" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-dealership-faqs" />
                </rule>
                <rule name="retail-franchisees-testimonials-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/franchisees-testimonials" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-dealership-testimonials" />
                </rule>
                <rule name="retail-business-model-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/business-model" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/retail/petrol-pump-business-model" />
                </rule>
                <rule name="retail-outlet-locator-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail-outlet-locator" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/petrol-pump-near-me" />
                </rule>
                <rule name="retail-apply-online-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/apply-online" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="retail/petrol-pump-dealership-apply" />
                </rule>
                <rule name="retail-footprint-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail-footprint" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/petrol-pump-retail-footprint" />
                </rule>
                <rule name="franchisees-eligibility-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="franchisees-eligibility" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="retail/petrol-pump-dealership-eligibility" />
                </rule>
                <rule name="petrol-pump-dealership-eligibility-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="petrol-pump-dealership-eligibility" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="retail/petrol-pump-dealership-eligibility" />
                </rule>
                <rule name="essar-fleet-plus-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="retail/essar-fleet-plus" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="retail/fleet-plus" />
                </rule>
                <rule name="institutional-business-diesel-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="institutional-business/diesel" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="institutional-business/high-speed-diesel" />
                </rule>
                <rule name="institutional-business-light-diesel-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="institutional-business/light-diesel" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="institutional-business/light-diesel-oil" />
                </rule>
                <rule name="institutional-business-mto-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="institutional-business/mto" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="institutional-business/mineral-turpentine-oil" />
                </rule>
                

                <rule name="institutional-business-pmb-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="institutional-business/pmb" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="institutional-business/polymer-modified-bitumen" />
                </rule>

                <rule name="locate-a-pump-redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="locate-a-pump" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/petrol-pump-near-me" />
                </rule>

                <rule name="Redirect-india-growth-blog" stopProcessing="true">
                    <match url="^blog/indias-economic-growth-and-energy-outlook/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/blog/" redirectType="Permanent" />
                </rule>

                <rule name="Redirect-mumbai-plastic-blog" stopProcessing="true">
                    <match url="^blog/reviving-mumbais-shore-a-call-to-action-against-plastic-pollution/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/blog/" redirectType="Permanent" />
                </rule>

                <rule name="Redirect-the-future-of-ethanol-blog" stopProcessing="true">
                    <match url="^blog/the-future-of-ethanol-in-India-meeting-the-nations-growing-energy-needs/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/blog/" redirectType="Permanent" />
                </rule>

                <rule name="Redirect-terms-condition-to-home" stopProcessing="true">
                    <match url="^terms-condition/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>

                <rule name="Redirect-scheme-promotion-to-home" stopProcessing="true">
                    <match url="^scheme-promotion/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>

                

                

                
                
                <rule name="Redirect1" enabled="false">
                    <match url="(.*)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.nayaraenergy.com" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" enabled="true" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="www redirection" stopProcessing="true">
                    <match url="^nayaraenergy.com$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.nayaraenergy.com/{R:0}" />
                </rule>
			</rules>
		</rewrite> 
		<httpProtocol>
			<customHeaders>
				<add name="Strict-Transport-Security" value="max-age=31536000;includeSubdomains" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="0" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
                <add name="Permission-Policy" value=" microphone() , camera()" />
                <add name="Access-Control-Allow-Methods" value="GET ,POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type , Authorization" />
                <add name="Referrer-Policy" value="strict-origin" />

                <add name="Content-Security-Policy-Report-Only" value="
                    default-src 'self';
                   script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com https://www.google-analytics.com;
                   img-src 'self' https://www.nayaraenergy.com data: blob:;
                  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
                  font-src 'self' https://fonts.gstatic.com;
                   connect-src 'self'  https://www.google-analytics.com;
                   frame-src 'self' https://www.youtube.com;" />
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="40000000" />
				<verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
		<staticContent>
			<!-- <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" /> -->
		</staticContent>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP_via_FastCGI2" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.2.33\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <httpRedirect enabled="false" destination="https://www.nayaraenergy.com" />
	</system.webServer>
	<system.web>
		<!-- <httpCookies httpOnlyCookies="true" requireSSL="false" /> -->
	</system.web>
</configuration>
